<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon-32x32.png">
    <title>Главная</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/css/animation.css">
    <link rel="stylesheet" href="css/css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__logo-text"><a href = '/main.html'class="logo-text">Aфродита</a></div>
            <address class="contacts">
                    <div class="contacts__phone"><a href="tel: +79818169862>89818169862" class="contacts__href">8 (800) 00-392-10</a></div>
                    <div class="contacts__work">
                        <button class="contacts__button">График работы</button>
                        <div class="contacts__drop-menu">
                            <div class="contacts__drop-item">
                                <div class="contacts__triangle"></div>
                                <div class="contacts__date">пн-вс: 09:00-20:00</div>
                                <div class="contacts__dinner">обед: 14:00-14:30</div>
                            </div>    
                        </div>
                    </div>
            </address>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <aside class="navigation">
                <nav class="navigation__block">
                    <ul class="navigation__list">
                        <li class="navigation__elem navigation__elem--main navigation__elem--current"></i><a href="/main.html" class="navigation__href navigation__href--current"><i class="demo-icon icon-main__icon"></i>Главная</a></li>
                        <li class="navigation__elem"><a href="/services.html" class="navigation__href"><i class="demo-icon icon-service__icon"></i>Услуги</a></li>
                        <li class="navigation__elem"><a href="/comments.html" class="navigation__href"><i class="demo-icon icon-feed__icon"></i>Отзывы</a></li>
                    </ul>    
                </nav>
            </aside>
            <main class="maincontent clearfix">
                <section class="section">
                    <header class="img-header">
                        <div class="img-header__img"></div>                        
                        <div class="img-header__background"></div>
                        <h1 class="img-header__title">О компании</h1>
                    </header>
                    <div class="main-text">
                        <div class="main-text__text">
                            <p><b>Фитнес-центр «Афродита»</b> приглашает вас оздоровиться и провести приятно время с друзьями или знакомыми, занимаясь вместе спортом.</br>
                             Квалифицированные тренеры найдут индивидуальный подход к каждому, помогут достигнуть поставленных целей и определят оптимальную нагрузку.</p>

                            <p>Нашим главным отличием мы считаем огромный <b>50 метровый бассейн</b>, состоящий из 6 дорожек. 
                            Помимо бассейна в зоне отдыха установлены финские сауны и турецкий хамам. Это прекрасный вариант для восстановления после тяжелой тренировки.</p>

                            <p>На первом этаже в фитобаре вы сможете заказать травяные чаи, белковые коктейли, минеральную воду и протеиновые батончики. 
                            Также здесь есть детская комната с воспитателями и нянями, которые присмотрят за вашими детьми в течение тренировки.</p>

                            <p>Наши цены на 100% оправданы высоким качеством сервиса. Если вы хотите выгодно приобрести абонемент, обращайтесь к администраторам, 
                            которые подскажут оптимальные программы конкретно под ваши потребности. <b>Нашими ключевыми направлениями остаются:</b></p>
                            <ul>
                                <li>йога;</li>
                                <li>фитнес;</li>
                                <li>занятия в бассейне;</li>
                                <li>кроссфит;</li>
                                <li>ТРХ петли.</li>
                            </ul>
                        </div>
                        <div class="main-text__block">
                                <div class="main-text__block-text">Помимо перечисленных услуг, мы предоставляем консультации профессиональных диетологов, тренеров, психологов.
                                        Также есть кабинет массажа, зал спа рядом с бассейном и возможность арендовать центр для проведения массовых мероприятий. <b>Ждем ваших заявок!</b></div> 
                        </div>
                    </div>
                </section>
                <section class="section">
                    <div class="partners">
                        <head class="partners__head">
                            <h1 class="partners__title">
                                Партнёры
                            </h1>
                        </head>
                        <ul class="partners__list">
                            <li class="partners__elem"><div class="partners__elem-img partners__elem-img--flamingo"></div></li>
                            <li class="partners__elem"><div class="partners__elem-img partners__elem-img--malibu"></div></li>
                            <li class="partners__elem"><div class="partners__elem-img partners__elem-img--lion"></div></li>
                            <li class="partners__elem"><div class="partners__elem-img partners__elem-img--arni"></div></li>
                            <li class="partners__elem"><div class="partners__elem-img partners__elem-img--grif"></div></li>
                            <li class="partners__elem"><div class="partners__elem-img partners__elem-img--atletiko"></div></li>
                        </ul>  
                    </div>      
                </section>   
            </main>                          
        </div>
    </div>    
</div>
<footer class="footer">
    <div class="container">
        <div class="footer__col">
            <p class="footer__text">Сделано с любовью и старанием
                на курсе «HTML + CSS» в <a href = 'https://loftschool.com/' class="footer__loftschool">LoftSchool.</a>
                Автор работы: <span class="footer__name">Анисов Дмитрий</span></p>
        </div>
        <div class="footer__col">
            <div class="logo-text logo-text--center">Aфродита</div>
        </div>
        <div class="footer__col">
            <div class="socials">
                <p class="socials__text">Наши социальные сети</p>
                <ul class="socials__list">
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-vk" aria-hidden="true"></i>                            
                        </a>
                    </li>
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
</footer>     
</body>
</html>