<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon-32x32.png">
    <title>Услуги</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/css/animation.css">
    <link rel="stylesheet" href="css/css/fontello.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__logo-text">
                <a href = '/main.html'class="logo-text">Aфродита</a>
            </div>
            <address class="contacts">
                <div class="contacts__phone"><a href="tel: +79818169862>89818169862" class="contacts__href">8 (800) 00-392-10</a></div>
                <div class="contacts__work">
                    <button class="contacts__button">График работы</button>
                    <div class="contacts__drop-menu">
                        <div class="contacts__drop-item">
                            <div class="contacts__triangle"></div>
                            <div class="contacts__date">пн-вс: 09:00-20:00</div>
                            <div class="contacts__dinner">обед: 14:00-14:30</div>
                        </div>    
                    </div>
                </div>
            </address>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <aside class="navigation">
                <nav class="navigation__block">
                    <ul class="navigation__list">
                        <li class="navigation__elem nav-active"><a href="/main.html" class="navigation__href"><i class="demo-icon icon-main__icon"></i>Главная</a></li>
                        <li class="navigation__elem navigation__elem--current"><a href="/services.html" class="navigation__href navigation__href--current"><i class="demo-icon icon-service__icon"></i>Услуги</a></li>
                        <li class="navigation__elem"><a href="/comments.html" class="navigation__href"><i class="demo-icon icon-feed__icon"></i>Отзывы</a></li>
                    </ul>    
                </nav>
            </aside>
            <main class="maincontent clearfix">
                <section class="section">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item">
                            <a href="/main.html" class="breadcrumbs__link  active">Главная</a>
                        </li>
                        <li class="breadcrumbs__item">
                            Услуги
                        </li>
                    </ul>
                    <h1 class="section__title">Услуги</h1>
                    <ul class="services">
                        <li class="services__elem clearfix">
                            <div class="services__avatar">
                                <img src="img/services/sports.png" alt="" class="services__avatar-pic">
                            </div>
                            <div class="services__desc">
                                <div class="services__header">
                                    <p class="services__title">Фитнес</p>
                                </div>
                                <div class="services__text">    
                                            Фитнес - это основное направление в нашем центре. Открыто 6 залов для занятий 
                                            с 7-00 до 22-00. Работают 24 фитнес-тренера, есть авторские и классические программы для похудения, восстановления фигуры, здоровья и молодости. Занятия с персональным 
                                            тренером помогут достичь максимального результата в сжатые сроки.
                                </div>
                            </div>                      
                        </li>           
                        <li class="services__elem clearfix">
                            <div class="services__avatar">
                                <img src="img/services/apple.jpg" alt="" class="services__avatar-pic">
                            </div>
                            <div class="services__desc">
                                <div class="services__header">
                                    <p class="services__title">Личный диетолог</p>
                                </div>
                                <div class="services__text">    
                                        Поможет вам получить более заметный результат от тренировок. 
                                        Создаст меню на каждый день, с учетом вкусовых предпочтений и особенностей здоровья.
                                        Проанализирует текущий рацион и укажет на ошибки. Поможет сделать питание разнообразным и полезным,
                                        объяснит доступно о важной роли тех или иных витаминов и микроэлементов.
                                </div>
                            </div>                      
                        </li>       
                        <li class="services__elem clearfix">
                            <div class="services__avatar">
                                <img src="img/services/yoga.png" alt="" class="services__avatar-pic">
                            </div>
                            <div class="services__desc">
                                <div class="services__header">
                                    <p class="services__title">Йога</p>
                                </div>
                                <div class="services__text">    
                                        Гармония души и тела – это базовая составляющая здоровья и красоты. 
                                        Наш зал для занятий йоги открыт для людей всех возрастов без ограничений. 
                                        Отдельным направлением является йога для беременных с более щадящей программой.
                                        Йога тренеры имеют сертификаты и являются победителями международных конкурсов..
                                </div>
                            </div>                      
                        </li>             
                        <li class="services__elem clearfix">
                            <div class="services__avatar">
                                <img src="img/services/trx.png" alt="" class="services__avatar-pic">
                            </div>
                            <div class="services__desc">
                                <div class="services__header">
                                    <p class="services__title">Петли ТРХ</p>
                                </div>
                                <div class="services__text">    
                                        Новое направление для нашего центра, которое стало одним из самых популярных и востребованных.
                                         Программа TRX Suspension Training создана для людей с начальным уровнем подготовки и позволяет 
                                         эффективно тренироваться, используя нарастающую нагрузку, которая зависит от силы и массы человека. 
                                         Петли усиливают ловкость, гибкость и подвижность. 
                                        В нашем центре проводятся индивидуальные и групповые тренировки ТРХ.
                                </div>
                            </div>                      
                        </li>
                        <li class="services__elem clearfix">
                            <div class="services__avatar">
                                <img src="img/services/women.png" alt="" class="services__avatar-pic">
                            </div>
                            <div class="services__desc">
                                <div class="services__header">
                                    <p class="services__title">Кроссфит</p>
                                </div>
                                <div class="services__text">    
                                        Авторская запатентованная программа тренировки, включающая элементы тяжелой атлетики,
                                         занятий с гирями, гимнастики. Данная программа безупречно подходит для ежедневных тренировок 
                                         людям с сидячим образом жизни. Преимущество кроссфита в том, что он одинаково хорошо воспринимается 
                                         и мужчинами, и женщинами и подходит для семейных групповых тренировок. 
                                        Высокая эффективности программы обусловлена чуткими рекомендациями наших сертифицированных тренеров.
                                </div>
                            </div>                      
                        </li>   
                        <li class="services__elem clearfix">
                            <div class="services__avatar">
                                <img src="img/services/swimming.png" alt="" class="services__avatar-pic">
                            </div>
                            <div class="services__desc">
                                <div class="services__header">
                                    <p class="services__title">Басейн</p>
                                </div>
                                <div class="services__text">    
                                        Большой 50 метровый бассейн, разделенный на 6 дорожек, 
                                        позволит заниматься индивидуальным плаванием или аквааэробикой.
                                         Занятия проводит сертифицированный тренер – Ситник Ирина Валерьевна, 
                                         известная своими успехами в школе подготовки олимпийского резерва.
                                          В бассейне есть место для занятий с детьми (ежедневно с 12-00 до 14-00),
                                         а также проводится аквааэробика для беременных каждый день в 10-00 и 19-00.
                                </div>
                            </div>                      
                        </li>   
                    </ul>
                </section>
            </main> 
        </div>                  
    </div>      
</div>
<footer class="footer">
    <div class="container">
        <div class="footer__col">
            <p class="footer__text">Сделано с любовью и старанием
                на курсе «HTML + CSS» в <a href = 'https://loftschool.com/' class="footer__loftschool">LoftSchool.</a>
                Автор работы: <span class="footer__name">Анисов Дмитрий</span></p>
        </div>
        <div class="footer__col">
            <div class="logo-text logo-text--center">Aфродита</div>
        </div>
        <div class="footer__col">
            <div class="socials">
                <p class="socials__text">Наши социальные сети</p>
                <ul class="socials__list">
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-vk" aria-hidden="true"></i>                            
                        </a>
                    </li>
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__elem">
                        <a href="" class="socials__link">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
</footer>     
</body>
</html>