{% extends 'base.html'%}
{% block main_content %}
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item">
                            <a href="/main.html" class="breadcrumbs__link  active">Главная</a>
                        </li>
                        <li class="breadcrumbs__item">
                            Услуги
                        </li>
                    </ul>
                    <h1 class="section__title">Услуги</h1>
                    <ul class="services">
                        {% for object in object_list %}
                            <li class="services__elem clearfix">
                                <div class="services__avatar">
                                    <img src="{{object.img.url}}" alt="" class="services__avatar-pic">
                                </div>
                                <div class="services__desc">
                                    <div class="services__header">
                                        <p class="services__title">{{object.title}}</p>
                                    </div>
                                    <div class="services__text">
                                       {{object.text}}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
{%endblock%}
{%block pagination%}
{% include 'inc-pagination.html' %}
{%endblock%}